@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap')

body
  background-color: #050203
  font-family: 'Poppins', sans-serif
  color: white

.navbar
  padding: 15px
  margin: 10px
  background: #f1d302
  justify-content: center
  text-align: center
  border-radius: 8px

.navbarroutes
  padding: 10px 20px 10px 20px
  margin: 10px 10px 10px 10px
  background: #DD6E0F
  text-decoration: none
  color: white
  justify-content: center
  text-align: center
  border-radius: 8px

.fa-eye
  color: #050203